<!DOCTYPE html>
<html>
<head>
<title>Intel</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <style>
    .jumbotron {
      background-color: #3a2b58; 
      color: #e5e4f4;
    }
     </style>
     </head>
         <body>
         <div class="container-fluid p-2 jumbotron text-center" style="display: flow; width:100%" >
            <h2 th:text="#{lang.rep}"></h2>
             <div  style="display: flex; width:100%" >
                <a class="btn btn-primary" href="/reports" th:text="#{lang.login}"></a>
                <div  style="width:75%;"></div>
                <span th:text="#{lang.change}"></span>:
                <div  style="width:2%;"></div>
                <select id="locales">
                    <option value="">Select</option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="fr" th:text="#{lang.fr}"></option>
                    <option value="lt" th:text="#{lang.lt}"></option>
                    </select>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
                </script>
            </div>
         </div>
         <div class="container-fluid" style="display: flex; height: 100px;">
            <div  style="width:38%;" th:switch="${reports}">
            <h4 th:case="null">No reports yet!</h4>
               <div th:case="*">
                   <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{lang.repid}" >Report ID</th>
                            <th th:text="#{lang.level}">Level</th>
                            <th th:text="#{lang.desc}">Description</th>
                            <th th:text="#{lang.lat}">Lattitude</th>
                            <th th:text="#{lang.lng}">Longitude</th>
                             <!--    <th>Edit</th>
                           <th>Delete</th>
                           -->
                        </tr>
                    </thead>
                   <tbody>
                       <tr th:each="report	 : ${reports}">
                            <td th:text="${report.id}">empty</td>
                            <td th:text="${report.level}">empty</td>
                            <td th:text="${report.description}">empty</td>
                           <td th:text="${report.lat}">empty</td>
                           <td th:text="${report.lng}">empty</td></tr>
                     </tbody>
                     </table>

             </div>   
            </div>
            <div  style="width:2%;"></div>
            <div id="googleMap" class="container-fluid mt-1" style="width:60%;flex-grow: 1;height: 630px;border:3px solid #3a2b58"></div>
              
        </div>
        <script th:inline="javascript">	
        	/*<![CDATA[*/
        	var reports = [[${reports}]];	
			
            function myMap() {
            	var mapProp= {center:new google.maps.LatLng(55.2053185,23.9693398),zoom:7,};         
				var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
				for(var i=0;i<reports.length;i++)
	        	{
					var reportCoord = {lat: reports[i].lat, lng: reports[i].lng};
					var marker = new google.maps.Marker({position: reportCoord, map: map, label: reports[i].description});
	        	}
				
            }
        	/*]]>*/

           
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDABAwC6MT_fLJhaTFmVIluNKPp5bc-vms&callback=myMap"></script>
        <script type="text/javascript">
			$(document).ready(function() {
   			 $("#locales").change(function () {
       		 var selectedOption = $('#locales').val();
        	if (selectedOption != ''){
          		  window.location.replace('?lang=' + selectedOption);
        	}
    				});
			});
		</script>
 </body>
</html>