 <div class="container  mt-3 text-center">
        <div  style="display: flex; width:100%" >
            	<div  style="display: flex; width:100%" >
              	<div  style="width:2%;"></div>
            	<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Sign Out"/>
        		</form>
        		<div  style="width:2%;"></div>
        		<div  style="width:auto; font-family:verdana;" >Logged is as:</div>
        		 <div  style="width:1%;"></div>
                <div  style="width:auto;" th:text="${loggedIn}"  ></div>
                <div  style="width:55%;"></div>
                <span th:text="#{lang.change}"></span>:
                <div  style="width:2%;"></div>
                <select id="locales">
                    <option value="">Select</option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="fr" th:text="#{lang.fr}"></option>
                    <option value="lt" th:text="#{lang.lt}"></option>
                    </select>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
                </script>
            </div>
    </div>